#tab1,
#tab1 th,
#tab1 td
{
    border: 1px solid black;
    border-collapse: collapse;
}


#float-div1 {
    background-color: blue;
}

#float-span {
    background-color: red;
}

#float-div2 {
    float: left;
    width: 300px;
    height: 600px;
    background-color: red;
    border-style: solid"

}

#float-div3 {
    clear: both;
    border: 2px, solid, blue;
}

nav {
    /* border: 1dvi solid black; */
    /* padding: 20px;
    margin: 30px; */
    background-color: lightgrey;
    overflow: hidden;
}

#name{
    width: 40%;
    font-weight: bold;
    float: left;
    background-color: green;
}

/* #menu{
    width: 58%;
    float: right;
}

#menu li{
   list-style: none;
    background-color: red;
    display: inline-block;
    margin-left: 20px;    
} */

#menu{
    width: 50%;
    background-color: red;
    float: right;
}