body {
    font-family: Arial, sans-serif;
    width: 800px;
    background-color: lightgrey;
    margin: 0 auto;
}

header {
    background-color: brown;
    text-align: center;
    height: auto;
    color: gold;
    padding: 1px;

}

#logo_section {
    background-color: tomato;
    text-align: center;
    height: auto;
}

#logo_pic {
    display: block;
    width: 800px;
    height: 500px;
}

nav {
    background-color: darkred;
    padding: 10px;
}


#nav-list {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}


#nav-list li {
    flex: 1;             
    list-style: none;
    text-align: center;    
    border: 1px solid black;
    color: white;
}

main {
    padding: 20px;
}

footer {
    background-color: brown;
    text-align: center;
    height: auto;
    color: gold;
}